/* login.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

input#username,
input#password {
  width: calc(100% - 22px); /* Sesuaikan dengan lebar padding dan border */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #0056b3;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #f5c6cb;
}
